:root {
    --primary-color: rgb(224, 197, 33)
}

.wrapper {
    padding: 0.6rem 0.8rem;
    font-size: 1.2rem;
    text-align: center;
    border: 0;
    outline: none;
    border-radius: 10px;
    width: 120px;
    margin-left: 10px;
    box-shadow: 1px -3px 52px -5px rgba(0, 0, 0, 0.77);
    cursor: pointer;
    
}
.wrapper:active{
        transform: scale(0.98);
    }

.add {
    background-color: var(--primary-color);
}
.add:hover{
    background-color: rgb(202, 179, 32);
}
.add:active{
    background-color: rgb(173, 154, 28);
}

.checkout {
    background-color: rgb(38, 121, 38);
    width: 150px;
    color: white;
    font-size: 14px;
}
.checkout:active{
    background-color: rgb(30, 93, 41);
}
.checkout:hover{
    background-color: rgb(41, 141, 41);
}

.remove {
    background-color: tomato;
}
.remove:hover{
    background-color: rgb(209, 83, 61);
}
.remove:active{
    background-color: rgb(185, 73, 54);
}